.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}